*~
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

_build/
/setup.data
/setup.log
*.docdir
*.byte
*.native

dist.mex
test/data
test/.RData
test/.Rhistory

doc/*.aux
doc/*.dvi
doc/*.log
doc/*.pdf
doc/*.fls
doc/*.bbl
doc/*.blg
doc/*.toc
